$font-family: "PingFangSC", "Microsoft YaHei", "微软雅黑", Arial, "sans-serif";

// color
$color-blue: #5A8BFF;
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;
$disable: #ccc;

//文字
$color-font-main: #303133; //主要文字
$color-font-normal: #606266; //常规文字
$color-font-light: #909399; //次要文字
$color-font-lighter: #c0c4cc; //占位文字

//大小
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-middle: 16px;
$font-size-large: 18px;
$font-size-larger: 20px;
$font-size-largest: 24px;

//边框
$color-border-main: #dcdfe6; //一级边框
$color-border-normal: #E4E7ED; //二级边框
$color-border-light: #EBEEF5; //三级边框
$color-border-lighter: #F2F6FC; //四级边框